In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

#### Dropping from a Series

In [7]:
ser1 = Series(np.arange(3), index=['a', 'b', 'c'])
                                      
ser1

a    0
b    1
c    2
dtype: int32

In [8]:
# drop the index 'b'
ser1.drop('b')

a    0
c    2
dtype: int32

#### Dropping from a DataFrame

In [10]:
dframe1 = DataFrame(np.arange(9).reshape(3,3), index=['SF', 'LA', 'NY'], columns=['population', 'size', 'year'])

dframe1

    population  size  year
SF           0     1     2
LA           3     4     5
NY           6     7     8

In [12]:
# drop a row with index 'SF'
dframe1.drop('SF')

    population  size  year
LA           3     4     5
NY           6     7     8

In [13]:
# drop does not affect the original dframe
dframe1

    population  size  year
SF           0     1     2
LA           3     4     5
NY           6     7     8

In [14]:
dframe2 = dframe1.drop('SF')

dframe2

    population  size  year
LA           3     4     5
NY           6     7     8

In [15]:
# incase we want to drop a column we need to mention axis = 1. By default axis = 0 which means row
dframe1.drop('year', axis=1)

    population  size
SF           0     1
LA           3     4
NY           6     7